@model List<Model.ViewModel.SimpleProductViewModel>

@{
    string[] classType = { "primary-photo", "secondary-photo" };
}
<div class="shop-content">
    <!-- product-toolbar start -->
    <div class="product-toolbar">
        <!-- Shop-menu -->
        <div class="shop-menu view-mode">
            <a class="grid-view" href="#grid-view" data-toggle="tab"><i class="sp-grid-view"></i></a>
            <a class="list-view active" href="#list-view" data-toggle="tab"><i class="sp-list-view"></i></a>
        </div>
        <div class="short-by hidden-xs">
            <span>short by</span>
            <select class="shop-select">
                <option value="1">default</option>
                <option value="1">default</option>
                <option value="1">default</option>
                <option value="1">default</option>
                <option value="1">default</option>
            </select>
        </div>
        <div class="short-by showing hidden-xs">
            <span>showing</span>
            <select class="shop-select">
                <option value="1">9</option>
                <option value="1">15</option>
                <option value="1">24</option>
                <option value="1">30</option>
                <option value="1">45</option>
            </select>
        </div>
        <!-- pagination -->
        @Html.Partial("_Pagination")
    </div>
    <!-- product-toolbar end -->
    <!-- Shop-product start -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="grid-view">
            <div class="row shop-grid">
                <!-- Single-product start -->
                @foreach (var item in Model)
            {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-product">
                            <div class="product-photo">
                                <a href="#">

                                    @for (var i = 0; i < 2; i++)
                                    {
                                        <img class="@classType[i]" src="@Url.Content(item.MoreImages[i])" alt="@item.MoreImages[i]" />
                                    }

                                    @*<img class="secondary-photo" src="img/shop/9.jpg" alt="" />*@
                                </a>
                                <div class="pro-action">
                                    <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                    <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                    <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                </div>
                            </div>
                            <div class="product-brief">
                                <h2><a href="#" id="pj3-wraptext">@item.Name</a></h2>

                                <h3 class="s-price-box">
                                    @if (item.PromotionPrice == null)
                                    {
                                        <span>$@item.Price</span>
                                    }
                                    else
                                    {
                                        <span class="new-price">$@item.PromotionPrice</span>
                                        <span class="old-price">$@item.Price</span>
                                    }
                                </h3>
                            </div>
                        </div>
                    </div>
                }
                <!-- Single-product end -->
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="list-view">
            <div class="row shop-list">
                <!-- Single-product start -->
                @foreach (var item in Model)
            {
                    <div class="col-md-12">
                        <div class="single-product">
                            <div class="product-photo">
                                <a href="#">
                                    @for (var i = 0; i < 2; i++)
                                    {
                                        <img class="@classType[i]" src="@Url.Content(item.MoreImages[i])" alt="@item.MoreImages[i]" />
                                    }
                                </a>
                                <div class="pro-action">
                                    <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                    <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                    <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                </div>
                            </div>
                            <div class="product-brief">
                                <h2><a href="#">@item.Name</a></h2>
                                <h3 class="s-price-box">
                                    @if (item.PromotionPrice == null)
                                    {
                                        <span>$@item.Price</span>
                                    }
                                    else
                                    {
                                        <span class="new-price">$@item.PromotionPrice</span>
                                        <span class="old-price">$@item.Price</span>
                                    }
                                </h3>
                                <div class="porduct-desc">
                                    <p>@item.ShortDescription</p>
                                </div>
                                <div class="pro-quick-view">
                                    <div class="quick-view">
                                        <a href="#" data-toggle="modal" data-target="#productModal" title="Quick View">Quick View</a>
                                    </div>
                                    <div class="pro-rating">
                                        <a href="#"><i class="sp-star rating-1"></i></a>
                                        <a href="#"><i class="sp-star rating-1"></i></a>
                                        <a href="#"><i class="sp-star rating-1"></i></a>
                                        <a href="#"><i class="sp-star rating-1"></i></a>
                                        <a href="#"><i class="sp-star rating-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Shop-product end -->
    <!-- product-toolbar start -->
    <div class="product-toolbar btm-border">
        <!-- Shop-menu -->
        <div class="shop-menu view-mode">
            <a class="grid-view" href="#grid-view" data-toggle="tab"><i class="sp-grid-view"></i></a>
            <a class="list-view active" href="#list-view" data-toggle="tab"><i class="sp-list-view"></i></a>
        </div>
        <div class="short-by hidden-xs">
            <span>short by</span>
            <select class="shop-select">
                <option value="1">default</option>
                <option value="1">default</option>
                <option value="1">default</option>
                <option value="1">default</option>
                <option value="1">default</option>
            </select>
        </div>
        <div class="short-by showing hidden-xs">
            <span>showing</span>
            <select class="shop-select">
                <option value="1">9</option>
                <option value="1">15</option>
                <option value="1">24</option>
                <option value="1">30</option>
                <option value="1">45</option>
            </select>
        </div>
        <!-- Pagination -->
        @Html.Partial("_Pagination")
        

    </div>
    <!-- product-toolbar end -->
</div>