@model Model.ViewModel.ProductFilterViewModel
<tr role="row" class="filter">
    <td> </td>
    <td>
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control form-filter input-sm", @type = "number"})
        @*<input type="number" class="form-control form-filter input-sm" name="product_id">*@
    </td>
    <td>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-filter input-sm"})
        @*<input type="text" class="form-control form-filter input-sm" name="product_name">*@
    </td>
    <td>
        <select name="product_category" class="form-control form-filter input-sm">
            <option value="">Select...</option>
            <option value="1">Mens</option>
            <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Footwear</option>
            <option value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clothing</option>
            <option value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
            <option value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fashion Outlet</option>
            <option value="6">Football Shirts</option>
            <option value="7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premier League</option>
            <option value="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Football League</option>
            <option value="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serie A</option>
            <option value="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bundesliga</option>
            <option value="11">Brands</option>
            <option value="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adidas</option>
            <option value="13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nike</option>
            <option value="14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airwalk</option>
            <option value="15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USA Pro</option>
            <option value="16">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kangol</option>
        </select>
    </td>
    <td>
        <div class="margin-bottom-5">
            @Html.TextBoxFor(m => m.PriceFrom, new { @class = "form-control form-filter input-sm", @placeholer="From" })
            @*<input type="text" class="form-control form-filter input-sm" name="product_price_from" placeholder="From" />*@
        </div>
        @Html.TextBoxFor(m => m.PriceTo, new { @class = "form-control form-filter input-sm", @placeholer = "To" })
        @*<input type="text" class="form-control form-filter input-sm" name="product_price_to" placeholder="To" />*@
    </td>
    <td>
        <div class="margin-bottom-5">
            @Html.TextBoxFor(m => m.PromotionPriceFrom, new { @class = "form-control form-filter input-sm", @placeholer = "From" })
            @*<input type="text" class="form-control form-filter input-sm" name="product_promotionprice_from" placeholder="From" />*@
        </div>
        @Html.TextBoxFor(m => m.PromotionPriceTo, new { @class = "form-control form-filter input-sm", @placeholer = "To" })
        @*<input type="text" class="form-control form-filter input-sm" name="product_promotionprice_to" placeholder="To" />*@
    </td>
    <td>
        <div class="margin-bottom-5">
            @Html.TextBoxFor(m => m.SumQuantityFrom, new { @class = "form-control form-filter input-sm", @placeholer = "From" })
            @*<input type="text" class="form-control form-filter input-sm" name="product_quantity_from" placeholder="From" />*@
        </div>
        @Html.TextBoxFor(m => m.SumQuantityTo, new { @class = "form-control form-filter input-sm", @placeholer = "To" })
        @*<input type="text" class="form-control form-filter input-sm" name="product_quantity_to" placeholder="To" />*@
    </td>
    <td>
        <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
            @*<input type="text" class="form-control form-filter input-sm" readonly name="product_created_from" placeholder="From">*@
            @Html.TextBoxFor(m => m.CreatedDateFrom, new { @class = "form-control form-filter input-sm", @readonly = "true", @placeholer = "From" })
            <span class="input-group-btn">
                <button class="btn btn-sm default" type="button">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
        <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
            @Html.TextBoxFor(m => m.CreatedDateTo, new { @class = "form-control form-filter input-sm", @readonly = "true", @placeholer = "To" })
            @*<input type="text" class="form-control form-filter input-sm" readonly name="product_created_to " placeholder="To">*@
            <span class="input-group-btn">
                <button class="btn btn-sm default" type="button">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </td>
    <td>
        @{
            var listStatus = new[]
            {
                new { value = "published", Text = "Published"},
                new { value = "notpublished", Text = "Not Published"},
                new { value = "deleted", Text = "Deleted"}
            }.ToList();
        }
        @Html.DropDownListFor(m => m.Status, new SelectList(listStatus, "value", "text"), "Select...", new {
       @class = "form-control form-filter input-sm" })
        @*<select name="product_status" class="form-control form-filter input-sm">
            <option value="">Select...</option>
            <option value="published">Published</option>
            <option value="notpublished">Not Published</option>
            <option value="deleted">Deleted</option>
        </select>*@
    </td>
    <td>
        <div class="margin-bottom-5">
            <button class="btn btn-sm btn-success filter-submit margin-bottom" id="btnSearch">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
        <button class="btn btn-sm btn-default filter-cancel" id="btnReset">
            <i class="fa fa-times"></i> Reset
        </button>
    </td>
</tr>
