@model ProjectSem3.Models.LoginAndRegisterViewModel
@{var listGender = new[] { new { Text = "Male", Value = "1" }, new { Text = "Female", Value = "0" } }.ToList();}
@{
    ViewBag.Title = "Register";
}
@if (@ViewBag.SelectedItem != default(string))
{
    <script>$("#@ViewBag.SelectedItem").focus;</script>
}
@section CustomStyle{
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Client/lib/plugin-datepicker/plugins/font-awesome/css/font-awesome.css">
    <link href="~/Content/Client/lib/plugin-datepicker/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/Client/lib/plugin-datepicker/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/Client/lib/plugin-datepicker/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

}
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/Client/lib/plugin-datepicker/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/Client/lib/plugin-datepicker/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/Client/lib/plugin-datepicker/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        var DOB = $('.date-picker').datepicker({
            format: 'dd/MM/yyyy'
        });
    </script>
    <script src="~/Content/Client/js/controller/accountController.js"></script>
}
<!-- PAGE-CONTENT START -->
<section class="page-content">
    <!-- PAGE-BANNER START -->
    <div class="page-banner-area  margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-banner-menu">
                        <h2 class="page-banner-title">Login</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE-BANNER END -->
    <!-- LOGIN-AREA START -->
    <div class="lognin-area">
        <div class="container">
            <div class="row">
                <!-- Registered-Customers Start -->
                <div class="col-md-6">
                    <!-- http://forums.asp.net/t/1923712.aspx?Validation+in+Partial+View+after+form+postback -->
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="registered-customers">
                            <h2 class="login-title">REGISTERED CUSTOMERS</h2>
                            <div class="registered">
                                <p>If you have an account with us, Please log in.</p>
                                <div class="row">
                                    <div class="col-sm-12">
                                        @if ((string)Session["ValidationSummary"] == "LoginForm")
                                        {
                                            @Html.ValidationSummary(false);
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => Model.Login.Email, new { @class = "custom-form", @placeholder = "Email Address" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.PasswordFor(model => Model.Login.Password, new { @class = "custom-form", @placeholder = "Password" })
                                    </div>
                                </div>
                                <p>
                                    <label class="forgot"><a href="#">Forgot your password?</a></label>
                                </p>
                                <input type="submit" class="custom-submit-2" name="login-btn" value="login" />
                            </div>
                        </div>
                    }
                </div>
                <!-- Registered-Customers End -->
                <div class="col-md-6">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "register" }))
                    {

                        @Html.AntiForgeryToken()
                        <div class="new-customers">
                            <h2 class="login-title">NEW CUSTOMERS</h2>

                            <div class="row">
                                <div class="col-sm-12">
                                    @if ((string)Session["ValidationSummary"] == "RegisterForm")
                                    {
                                        @Html.ValidationSummary();
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Register.Firstname, new { @class = "custom-form", @placeholder = "First Name" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Register.Lastname, new { @class = "custom-form", @placeholder = "Last Name" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.Register.Gender, new SelectList(listGender, "Value", "Text"), "Gender", new { @class = "custom-select custom-form" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Register.DOB, new { @class = "custom-select custom-form date-picker", @size = "16", @placeholder = "Birthday" })
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.Register.City, new SelectList(new string[] { }), new { @class = "custom-select custom-form", @id = "ddlCity" })
                                </div>

                                <div class="col-sm-6">

                                    @Html.DropDownListFor(model => model.Register.District, new SelectList(new string[] { }), "District", new { @class = "custom-select custom-form", @id = "ddlDistrict" })
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(model => model.Register.Address, new { @class = "custom-form", @placeholder = "Address" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Register.PhoneNumber, new { @class = "custom-form", @placeholder = "Phone Number" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Register.PostCode, new { @class = "custom-form", @placeholder = "Post Code" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(model => model.Register.Email, new { @class = "custom-form", @id = "RegisterEmail", @placeholder = "Email" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.PasswordFor(model => model.Register.Password, new { @class = "custom-form", @placeholder = "Password" })
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.PasswordFor(model => model.Register.ConfirmPassword, new { @class = "custom-form", @placeholder = "Confirm Password" })
                                </div>
                            </div>
                            <div class="checkbox">

                                <label>
                                    @*<input type="checkbox" name="subscribe" id="checkbox-policy"/>*@
                                    @Html.CheckBoxFor(model => model.Register.AgreeTerm, new { @name = "subscribe" })
                                    I have read and agree to the
                                    <a href="#"><b>Privacy Policy</b></a>
                                </label>

                            </div>
                            <!-- http://stackoverflow.com/questions/442704/how-do-you-handle-multiple-submit-buttons-in-asp-net-mvc-framework -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="submit" id="register-btn" class="custom-form custom-submit no-margin" value="register" name="action:register"/>
                                </div>

                                <div class="col-sm-6">
                                    <input type="submit" class="custom-form custom-submit no-margin" value="clear" name="action:clear" id="btnClear" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN-AREA END -->
    <!-- BRAND-LOGO-AREA START -->
    <div class="brand-logo-area margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="brand-brief">
                        <h2 class="border-left-right">they are with us</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="brand-logo fix">
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/1.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/2.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/3.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/4.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/5.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/6.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND-LOGO-AREA END -->
</section>
<!-- PAGE-CONTENT END -->
