@model Tuple<ProjectSem3.Models.AccountViewModels.LoginViewModel, ProjectSem3.Models.AccountViewModels.RegisterViewModel>
@*@model ProjectSem3.Models.AccountViewModels.LoginViewModel*@
@{
    ViewBag.Title = "Register";
}
@if (@ViewBag.SelectedItem != default(string))
{
    <script>$("#@ViewBag.SelectedItem").focus;</script>
}
@section CustomStyle{
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Client/lib/plugin-datepicker/plugins/font-awesome/css/font-awesome.css">
    <link href="~/Content/Client/lib/plugin-datepicker/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/Client/lib/plugin-datepicker/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/Client/lib/plugin-datepicker/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

}
@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/Client/lib/plugin-datepicker/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/Client/lib/plugin-datepicker/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/Client/lib/plugin-datepicker/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        $('.date-picker').datepicker({
            format: 'dd/mm/yyyy'
        });
    </script>
}
<!-- PAGE-CONTENT START -->
<section class="page-content">
    <!-- PAGE-BANNER START -->
    <div class="page-banner-area  margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-banner-menu">
                        <h2 class="page-banner-title">Login</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE-BANNER END -->
    <!-- LOGIN-AREA START -->
    <div class="lognin-area">
        <div class="container">
            <div class="row">
                <!-- Registered-Customers Start -->
                <div class="col-md-6">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <div class="registered-customers">
                            <h2 class="login-title">REGISTERED CUSTOMERS</h2>
                            <div class="registered">
                                <p>If you have an account with us, Please log in.</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.Item1.Email, new { @class = "custom-form", @placeholder = "Email Address" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.PasswordFor(model => model.Item1.Password, new { @class = "custom-form", @placeholder = "Password" })
                                    </div>
                                </div>
                                <p>
                                    <label class="forgot"><a href="#">Forgot your password?</a></label>
                                </p>
                                <input type="submit" class="custom-submit-2" value="login" />
                            </div>
                        </div>
                    }
                </div>
                <!-- Registered-Customers End -->
                <div class="col-md-6">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="new-customers">
                            <h2 class="login-title">NEW CUSTOMERS</h2>
                            @*@Html.ValidationSummary(false)*@
                            <div class="row">
                                <div class="col-sm-6">
                                    @*<input type="text" class="custom-form" placeholder="First Name" />*@
                                    @Html.TextBoxFor(model => model.Item2.Firstname, new { @class = "custom-form", @placeholder = "First Name" })
                                </div>
                                <div class="col-sm-6">
                                    @*<input type="text" class="custom-form" placeholder="Last Name" />*@
                                    @Html.TextBoxFor(model => model.Item2.Lastname, new { @class = "custom-form", @placeholder = "Last Name" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.Firstname)
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.Lastname)
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    @*<select name="Gender" class="shop-select custom-form">
                                            <option value="-1">Gender</option>
                                            <option value="1">Male</option>
                                            <option value="0">Female</option>
                                        </select>*@
                                    @{var listGender = new[]
    {
                                            new { Text = "Gender", Value = "-1" },
                                            new { Text = "Male", Value="1" },
                                            new { Text = "Female", Value="0" }
                                    }.ToList();
                                    }
                                    @*@Html.DropDownList("Item2.Gender", new SelectList(listGender, "Value", "Text"), new { @class="shop-select custom-form"})*@
                                    @Html.DropDownListFor(model => model.Item2.Gender, new SelectList(listGender, "Value", "Text"), new { @class = "custom-select custom-form" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Item2.DOB, new { @class = "custom-select custom-form date-picker", @size = "16", @placeholder = "Birthday" })
                                    @*<input class="custom-form date-picker" size="16" type="text" value="" placeholder="Birthday"/>*@
                                </div>
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.Gender)
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.DOB)
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<input type="text" class="custom-form" placeholder="Address"/>*@
                                    @Html.TextBoxFor(model => model.Item2.Address, new { @class = "custom-form", @placeholder = "Address" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.Address)
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    @*<select name="Country" class="custom-select custom-form">
                                            <option>Country</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="United States">United States</option>
                                            <option value="United States">United Kingdom</option>
                                            <option value="Australia">Australia</option>
                                        </select>*@
                                    @{var listCountry = new[]
    {
                                            new { Text = "Country", Value = "Country" },
                                            new { Text = "Bangladesh", Value="Bangladesh" },
                                            new { Text = "United States", Value="United States" },
                                            new { Text = "United States", Value="United States" },
                                            new { Text = "Australia", Value="Australia" }
                                    }.ToList();
                                    }
                                    @Html.DropDownList("Item2.Country", new SelectList(listCountry, "Value", "Text"), new { @class = "custom-select custom-form" })
                                </div>

                                <div class="col-sm-6">
                                    @*<select name="City" class="custom-select custom-form">
                                            <option>City</option>
                                            <option value="Dhaka">Dhaka</option>
                                            <option value="New York">New York</option>
                                            <option value="London">London</option>
                                            <option value="Melbourne">Melbourne</option>
                                        </select>*@
                                    @{var listCity = new[]
    {
                                            new { Text = "City", Value = "City" },
                                            new { Text = "Dhaka", Value="Dhaka" },
                                            new { Text = "New York", Value="New York" },
                                            new { Text = "London", Value="London" },
                                            new { Text = "Melbourne", Value="Melbourne" }
                                    }.ToList();
                                    }
                                    @Html.DropDownList("Item2.City", new SelectList(listCity, "Value", "Text"), new { @class = "custom-select custom-form" })
                                </div>

                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.Country)
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.City)
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    @*<input type="text" class="custom-form" placeholder="Phone Number"/>*@
                                    @Html.TextBoxFor(model => model.Item2.Phone, new { @class = "custom-form", @placeholder = "Phone Number" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Item2.PostCode, new { @class = "custom-form", @placeholder = "Post Code" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.Phone)
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.PostCode)
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<input class="custom-form" type="text" placeholder="Email" name="email"/>*@
                                    @Html.TextBoxFor(model => model.Item2.Email, new { @class = "custom-form", @id = "RegisterEmail", @placeholder = "Email" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.Email)
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<input class="custom-form" type="password" placeholder="Password"/>*@
                                    @Html.PasswordFor(model => model.Item2.Password, new { @class = "custom-form", @placeholder = "Password" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Item2.Password)
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    @*<input class="custom-form" type="password" placeholder="Confirm Password"/>*@
                                    @Html.PasswordFor(model => model.Item2.ConfirmPassword, new { @class = "custom-form", @placeholder = "Confirm Password" })
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked="checked" name="create-account" />
                                    Sign up for our newsletter!
                                </label>
                                <label>
                                    <input type="checkbox" name="billing-address" />
                                    Receive special offers from our partners!
                                </label>
                            </div>
                            <!-- http://stackoverflow.com/questions/442704/how-do-you-handle-multiple-submit-buttons-in-asp-net-mvc-framework -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="submit" class="custom-form custom-submit no-margin" value="register" name="action:register"/>
                                </div>
                                <div class="col-sm-6">
                                    <input type="submit" class="custom-form custom-submit no-margin" value="clear" name="action:clear"/>
                                </div>
                            </div>
                        </div>
                                        }
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN-AREA END -->
    <!-- BRAND-LOGO-AREA START -->
    <div class="brand-logo-area margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="brand-brief">
                        <h2 class="border-left-right">they are with us</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="brand-logo fix">
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/1.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/2.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/3.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/4.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/5.png" alt="" />
                        </div>
                        <div class="single-logo">
                            <img src="~/Content/Client/img/brand/6.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BRAND-LOGO-AREA END -->
</section>
<!-- PAGE-CONTENT END -->
